body {
    background-color: #F5F5F5;
    padding-top:55px;
    border-color: blue;
}

button {
	color: black;
	cursor: pointer;
	float: right;
}

p {
    margin: 0;
    padding: 0;
}

p span {
    display: block;
}

h4 { 
font-weight: normal; 
}

