<div class="container" ng-app>

    <button ng-click="userInfo = false" id="minbut">Hide</button>
    <button ng-click="userInfo = true" id="maxbut">Show</button>

    <p><span><h1>{{user.firstName}} {{user.lastName}}</h1></span></p>
    <legend></legend>

    <div ng-hide="editorEnabled">

        <button id="Edit" ng-click="enableEditor()">Edit</button>

        <!--Adding in the userInfo with a directive-->
        <user-info ng-show="userInfo" id="Text"></user-info>

    </div>

    <form ng-show="editorEnabled">
        <input ng-model="editablefirstName" ng-show="editorEnabled"><br />
        <input ng-model="editablelastName" ng-show="editorEnabled"><br />
        <input ng-model="editablephone" ng-show="editorEnabled"><br />
        <p> Email cannot be changed </p>

        <input id="Save" type="submit" ng-click="save()" value="Save" />
        <input id="Cancel" type="button" ng-click="disableEditor()" value="Cancel"/>
    </form>
    
</div>