<title>Create User</title>

<div class"container">
  <div ng-controller="ListUsersController">
    <form>
      <legend><h2>Create User</h2></legend>
      <button type="button" ng-click="add()">Add User</button>

      <p>
        <span><input type="text" ng-model="firstName" placeholder="First Name"></span>
        <span><input type="text" ng-model="lastName" placeholder="Last Name"></span>
        <span><input type="text" ng-model="phone" placeholder="xxx-xxx-xxxx"></span>
        <span><input type="email" ng-model="email" placeholder="example@email.com"></span><br />
      </p>
      <legend></legend>
    </form>
  </div>
</div>