<title>Create User</title>

<div class"container">
  <div ng-controller="ListUsersController">
    <form>
       <legend>Create User</legend>
       <button type="button" ng-click="add()">Add User</button>
       <input type="text" ng-model="firstName" placeholder="First Name" ><br />
       <input type="text" ng-model="lastName" placeholder="Last Name" ><br />
       <input type="text" ng-model="phone" placeholder="Phone" ><br />
       <input type="email" ng-model="email" placeholder="Email" ><br /><br />
       <legend></legend>
    </form>
  </div>
</div>