<title>UserProfile</title>

<!--Show/Hide buttons for details-->
<button id="minbut">Hide</button>
<button id="maxbut">Show</button>

<div ng-app><!--ng-app start-->

    <p><span><h1>{{user.firstName}} {{user.lastName}}</h1></span></p>
    <legend></legend>

    <div ng-hide="editorEnabled" id="text">

        <button ng-click="enableEditor()">Edit</button>

        <!--Adding in the userInfo with a directive-->
        <user-info user="user"></user-info>

    </div>

    <form ng-show="editorEnabled"><!--Show editor enabled!-->
        <input ng-model="editablefirstName" ng-show="editorEnabled"><br /> <!--Take out br tags-->
        <input ng-model="editablelastName" ng-show="editorEnabled"><br />
        <input ng-model="editablephone" ng-show="editorEnabled"><br />
        <p> Email cannot be changed </p>

        <input type="submit" ng-click="save()" value="Save" /><!--Saves on click-->
        <input type="button" ng-click="disableEditor()" value="Cancel"/><!--Cancel button(disables editorEnabled)-->
    </form><!--END show editor enabling-->
</div><!--END ng-app-->

<!--Script for Show/Hide buttons(jquery)-->
<script type="text/javascript">

    $("#minbut").click(function(){
        $("#text").hide(200);    
    });

    $("#maxbut").click(function(){
        $("#text").show(200);    
    });

</script>